@import '../variables/variables.scss';

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../../assets/fonts/Roboto-Light.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../../assets/fonts/Roboto-Regular.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../../assets/fonts/Roboto-Medium.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../assets/fonts/Roboto-Bold.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url("../../assets/fonts/PTSans-Regular.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url("../../assets/fonts/PTSans-Bold.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
  src: local("Manrope Light"), local("Manrope-Light"), url("../../assets/fonts/Manrope-Light.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  src: local("Manrope"), local("Manrope-Regular"), url("../../assets/fonts/Manrope-Regular.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  src: local("Manrope Medium"), local("Manrope-Medium"), url("../../assets/fonts/Manrope-Medium.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  src: local("Manrope Bold"), local("Manrope-Bold"), url("../../assets/fonts/Manrope-Bold.ttf") format("opentype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
