@import '../variables/variables.scss';

.krButton {
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	user-select: none;

	border-radius: 5px;
	background-color: $primary;

	cursor: pointer;

	&.regular {}

	&.action {
		min-width: 35px;
		min-height: 35px;
	}

	&.icon-start {
		flex-direction: row;
	}

	&.icon-end {
		flex-direction: row-reverse;
	}

	.icon {
		color: white;
	}
}