@import '../variables/variables.scss';

.krButton {
	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	user-select: none;

	border-radius: 5px;
	background-color: $primaryLight;
	color: white;

	transition: all 0.1s;

	cursor: pointer;

	&:hover {
		background-color: $primary;
		transition: all 0.1s;
	}

	&:active {
		box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
		transition: all 0.1s;
	}

	&.regular {
		padding: 8px 16px;
	}

	&.action {
		min-width: 35px;
		min-height: 35px;
	}

	&.icon-start {
		flex-direction: row;
	}

	&.icon-end {
		flex-direction: row-reverse;
	}

	.icon {
		color: white;
	}
}