@import './sass/app.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
}

#root {
	overflow: hidden;
}

body {
	font-family: 'Roboto';
	line-height: inherit;
	background-color: var(--side-background);
}

.container {
	display: flex;
	flex-direction: column;

	height: 100%;

	&.row {
		flex-direction: row;
	}

	.content {
		flex: 1;
	}
}

.footer {
	min-height: 75px;
	width: 100%;

	background-color: rgb(42, 42, 42);
}